# Ignore all
*
# Unignore all with extensions
!*.*
# Unignore all dirs
!*/
# Unignore include
!include
# Ignore all exe files
*.exe
!midis/vsthost32.exe
!midis/vsthost64.exe
# Ignore VS Code stuff
.vscode
# Ignore macOS stuff
.DS_Store
*.command
# InForm backup files
*.bas-backup
*.frm-backup
